<h1>Задачи</h1><br><br>

<% @projects.each do |project| %>

	<h2><%= project.title %></h2>

	<ul>
	<% project.todos.each do |todo| %>
		<li><%= todo.text %></li>
	<% end %>
	</ul>

<% end %>
<br><br>

<div>
  <button id="show_btn" class="showDiv"><%=image_tag("addTodoIcon.png")%></button>
</div>

<div id="new_todo_div" style="display:none;">

	<h2>Новая задача</h2>
  <%= form_for(:project, method: :patch, :html => {:class => "new_todo_form"}) do |f| %>

      <p>
        <%= f.text_field :text, placeholder:"Название задачи..."%>
      </p>

      <p>
        <%= f.collection_select(:project_id, @projects, :id, :title) %>
      </p>

      <a href="javascript:undefined" class="hideDiv">ОТМЕНА</a>|

      <%= link_to "ОК", "#", :onclick=>"$('.new_todo_form').submit()" %>
	<% end %>

</div>

